body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.productsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.singleProduct {
  flex: 1 0 21%;
  margin: 5px;
  max-width: calc(25% - 5px);
  border: 1px solid #eee;
}
.productDetails {
  border: 2px solid #eee;
  padding: 10px;
}
.productDetails .title {
  font-size: 18px;
  margin: 0;
  color: #2b2b2b;
}
.productDetails .price {
  font-size: 14px;
  margin: 0;
  margin-top: 10px;
}

.productDetails .price .value {
  font-weight: bold;
}
